div{
    border-style: groove;
    border-width: 6px;
    padding: 30px;
    border-color: blue;
}
.container{
    border-color: #285e8e;
}
.row{
    border-color: #2aabd2;
}

.list-group-item {
    border: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}
body{
    background-color:  #298582;
}
