div{
    border-style: groove;
    border-width: 8px;
    padding: 30px;
    padding-left: 5px;
    padding-right:5px;
    border-color: #2b669a;
    font-size: 18px;
}
body{
    font-size: 20px;
}
.container{
    border-color: #2b669a;
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    border-color: #2b669a;
    padding: 25px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.list-group-item{
    border-style: groove;
    border-width: 8px;
    border-color: #2b669a;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #245269;
    text-decoration-color: #FFFFFF;
}
#index{
    background-image: url(http://img1.wikia.nocookie.net/cb20130602041007/bioshock/images/6/62/BioShock_Infinite_Screen_14.jpg);
    background-size: cover;
}
#projects{
    background-image: url(https://lh4.googleusercontent.com/-iJukOYUJACg/UbmQQVh10yI/AAAAAAAAADY/6IGDbHcx9XM/s0-d/bioshock_rapture_desktop_1366x768_wallpaper-1014113.jpg);
    background-size: cover;
    height: 350px;
    width: auto;
}
#technology{
    background-image: url(http://images.gameskinny.com/gameskinny/81c293e8de77a2cdab4b50e996a7ca4e.jpg);
    background-size: cover;
}
img{
    width: 240px;
    height: auto;
    padding-left: 0px;
    padding-right: 8px;
}
.jumbotron{
    text-align: center;
    font-size: 38px;
    background-color: black;
}
 
